body {
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  color: white;
}

img {
  scale: 75%;
}

#heading {
  text-align: center;
}

#forms {
  font-family: fantasy;
  color: green;
}

#welcome {
  display: none;
  text-align: center;
}

#error {
  display: none;
  text-align: center;
  color: red;
}

.userNumber {
  text-align: center;
  color: green;
}